<div id="banner">
  <% if show_banner %>
    <h3>Начните изучать IT-технологии!</h3>
    <%= link_to image_tag('logo.png'), root_path, alt: "logo" %>
    <p id="close"><%= link_to 'Закрыть' %></p>
  <% end  %>
</div>